.home-hero {
  padding-top: 160px;

  .hero-joyjet {
    margin-bottom: 110px;
  }

  .title-hero {
    color: var(--white);
    font-size: 10rem;
    text-transform: uppercase;
  }
  .blue-dot {
    color: var(--blue);
  }
  .subtitle-hero {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
  }

  .trending-today {
    background-color: rgba($color: #000000, $alpha: .4);
    padding: 40px 0;

    .trending-today-container {
      display: flex;
      align-items: center;
      padding: 0 2%;
    }

    .trending-today-title {
      color: var(--white);
      text-align: right;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.6;
      margin-right: 40px;


      span {
        color: var(--blue);
      }
    }

    .trending-today-item {
      color: var(--white);
      text-align: left;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.6;
      border-left: 1px solid var(--white);
      padding: 0 30px;
    }
  }
}