.blog-section {
    
    .blog-container-section {
        padding: 120px 0 80px 0;
    }

    .blog-section-card {
        background-color: bisque;
        border-radius: 10px;

        .blog-section-content__container-text {
            padding: 20px;
        }
    }
    /*
    .slick-slide {
        padding: 0 15px;
        }
        
        .slick-list {
        margin: 0 2em;
        }
    */
    .slick-slide {
    padding: 0 10px 0 0;
    box-sizing: border-box;
    }
    .slick-prev:before, .slick-next:before {
        display: none;
    }
}