.hero-button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.7;
  cursor: pointer;
  text-transform: lowercase;
  transition: all 0.4s ease;
  padding: 10px 50px;
  border-radius: 8px;
  border-width: 0;

  &:hover {
    background-color: rgba(rebeccapurple, 0.2);
  }
}