// Variable overrides
$font-family-base: 'Poppins', sans-serif;
$body-bg: #f8f8f8;
$body-color: #111;


$font-size-base: 1.5rem;

$primary: #4a90e2;
$white: #ffffff;
$gray-text: #506074;
$gray-bg: #f8f8f8;
$gray-title: #4f6072;
$gray-text-clean: #a2aabb;


$grid-breakpoints: (
	xs: 0,
	xx: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1590px
);
$container-max-widths: (
	xx: 374px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1560px
);
