@import 'variables';
@import 'bootstrap';
@import 'slick';

html {
	scroll-behavior: smooth;
}

body {
  background-color: var(--gray-bg);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1;
}

.blog-posts__container {
  margin: 120px 0;
}