$font-family-base: 'Poppins', sans-serif;
$body-bg: #f8f8f8;
$body-color: #111;
$color_main: #f04e30;
$color_border: #e3e3e3;
$color_text: #4f6072;
$color_light_text: #4f6072;
$color_dark_text: #4f6072;

$primary: #4a90e2;
$white: #ffffff;