.navbar-joyjet {
  z-index: 150;

  .nav-item {
    padding: 0 10px;
    a {
      color: var(--white);
      text-transform: uppercase;
      padding: 5px;
    }
    .active {
      color: red;
    }
  }
}