.navbar-joyjet {
  z-index: 150;

  transition: all 0.2s ease-out 0s;

  .nav-item {
    padding: 0 10px;
    a {
      color: var(--white);
      text-transform: uppercase;
      padding: 5px;
    }
    .active {
      color: red;
    }
  }

  
}
/* Change navbar styling on scroll */
.navbar-joyjet.active {
  background: var(--blue);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

  transition: all 0.2s ease-out 0s;
}